.about {
  .container {
    position: relative;
  }
  article {
    position: absolute;
    display: flex;
    min-height: 405px;
    top: -140px;
    box-shadow: 0 50px 300px -160px #051818;
    img {
      height: auto;
    }
    .about__main {
      background-color: $light-primary;
      padding: 30px 8%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &__text {
        color: $dark-primary-2;
        h4 {
          font-weight: bold;
          font-size: 2.25rem;
          margin-bottom: 10px;
        }
        h5 {
          font-weight: normal;
          font-size: 1.25rem;
          line-height: 150%;
          margin-bottom: 30px;
        }
        p {
          font-size: 1rem;
          line-height: 150%;
          margin-bottom: 50px;
        }
      }
    }
    footer {
      gap: 20px;
      flex-wrap: wrap;
      button {
        width: 145px;
        height: 47px;
        border: 1px solid $dark-secondary-1;
        color: $dark-secondary-1;
        background: transparent;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        svg {
          margin-left: 10px;
        }
      }
      .social-links {
        display: flex;
        align-items: center;
        gap: 15px;
      }
    }
  }
}

@include media("<=tablet2x") {
  .about {
    article {
      img {
        display: none;
      }
    }
  }
}

@include media("<=phone3x") {
  .about {
    article {
      width: 90%;
      right: 5%;
    }
  }
}

@include media("<=phone2x") {
  .about {
    article {
      width: 100%;
      right: unset;
      top: unset;
      position: relative;
    }
  }
}
