.home-hero {
  color: $white;
  background: linear-gradient(90deg, #051818 0%, rgba(85, 128, 128, 0.66) 100%),
    #051818;
  width: 100%;
  height: 700px;
  overflow: hidden;
  &-left {
    width: 55%;
  }
  &-right {
    width: 45%;
  }
  .container {
    position: relative;
  }
  h1 {
    font-weight: bold;
    font-size: 4rem;
    padding-top: 15%;
  }
  h3 {
    font-family: "EffraCorp", sans-serif;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 150%;
    margin-bottom: 20px;
    width: 75%;
  }
}

.section {
  overflow: hidden;
}
