.home-hero {
  color: $white;
  padding-top: 20px;
  background: linear-gradient(90deg, #051818 0%, rgba(85, 128, 128, 0.66) 100%),
    #051818;
  width: 100%;
  min-height: 700px;
  overflow: hidden;
  &-left {
    width: 55%;
  }
  &-right {
    width: 45%;
    position: absolute;
    right: 2%;
    img {
      position: absolute;
      right: -200px;
    }
  }
  .container {
    position: relative;
  }
  h1 {
    font-weight: bold;
    font-size: 4rem;
    padding-top: 15%;
  }
  h3 {
    font-family: "EffraCorp", sans-serif;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 150%;
    margin-bottom: 20px;
    width: 75%;
  }
}

@include media("<=tablet2x") {
  .home-hero {
    &-left {
      width: 100%;
    }
    &-right {
      display: none;
    }
  }
}

@include media("<=phone3x") {
  .home-hero {
    min-height: auto;
    padding-bottom: 240px;
    h1 {
      padding-top: 10%;
      font-size: 3rem;
    }
  }
}

@include media("<=phone2x") {
  .home-hero {
    padding-bottom: 70px;
    h1 {
      font-size: 2rem;
      padding-top: 5%;
    }
  }
}
