.home-team {
  background: $light-primary;
  padding: 70px 0;

  header {
    text-align: center;
    margin-bottom: 150px;
    h3 {
      font-weight: bold;
      font-size: 2.25rem;
      color: $dark;
      position: relative;
      display: inline-block;
      &::after {
        content: "";
        position: absolute;
        background-color: $secondary;
        width: 64%;
        height: 4px;
        right: 18%;
        bottom: -15px;
      }
    }
  }

  article {
    color: $white;
    position: relative;
    display: flex !important;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
    }
    .text {
      position: absolute;
      bottom: 25px;
      left: 25px;
      h4 {
        font-weight: bold;
        font-size: 1.5rem;
      }
      p {
        font-size: 1.125rem;
        opacity: 0.5;
      }
    }
  }

  .slick-slide {
    padding: 0 20px;
  }

  .slick-next,
  .slick-prev {
    z-index: 2;
  }

  .slick-dots {
    li {
      button {
        &::before {
          opacity: 1;
          color: #bdeeee;
        }
      }
      &.slick-active {
        button {
          &::before {
            color: #124646;
            opacity: 1;
          }
        }
      }
    }
  }
}

@include media("<=phone2x") {
  .home-team {
    header {
      margin-bottom: 70px;
      h3 {
        font-weight: bold;
        font-size: 1.5rem;
      }
    }
    .slick-prev {
      left: -1%;
    }
    .slick-next {
      right: -1%;
    }
    .slick-slide {
      padding: 0 20px;
    }
  }
}
