.home-team {
  background: $light-primary;
  padding: 80px 0 100px 0;
  overflow: hidden;
  position: relative;

  &__header {
    text-align: center;
    margin-bottom: 150px;
    h3 {
      font-weight: bold;
      font-size: 2.25rem;
      color: $dark;
      position: relative;
      display: inline-block;
      &::after {
        content: "";
        position: absolute;
        background-color: $secondary;
        width: 64%;
        height: 4px;
        right: 18%;
        bottom: -15px;
      }
    }
  }

  .container {
    overflow: hidden;
    padding-bottom: 50px;
  }

  article {
    color: $white;
    position: relative;
    display: flex !important;
    align-items: center;
    justify-content: center;
    &::after {
      content: "";
      position: absolute;
      background: linear-gradient(0deg, #000000 3.91%, rgba(0, 0, 0, 0) 100%);
      width: 100%;
      height: 100%;
      right: 0;
      bottom: 0;
    }

    &:hover,
    &:focus,
    &:active {
      .text {
        display: none;
      }
      .main-content {
        display: flex;
      }
      &::after {
        // background: #248c8c;
        // opacity: 0.5;
        background: #025b5b;
        opacity: 0.8;
      }
    }
    img {
      width: 100%;
      height: 100%;
    }
    .text {
      position: absolute;
      bottom: 25px;
      left: 25px;
      z-index: 1;
      h4 {
        font-weight: bold;
        font-size: 1.5rem;
      }
      p {
        font-size: 1.125rem;
        opacity: 0.5;
      }
    }
    .main-content {
      display: none;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px;
      z-index: 1;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      header {
        h2 {
          font-size: 2rem;
          color: $secondary;
        }
        h3 {
          font-family: "EffraCorp", sans-serif;
          font-weight: normal;
          font-size: 1.125rem;
        }
      }
      p {
        font-size: 0.9rem;
        line-height: 150%;
      }
      .social-links {
        justify-content: flex-end;
        display: flex;
        gap: 10px;
      }
    }
  }

  .slick-slide {
    padding: 0 20px;
  }

  .slick-slider {
    position: unset;
  }

  .slick-next,
  .slick-prev {
    z-index: 2;
    top: 55%;
    width: 30px;
    height: 30px;
  }

  .slick-dots {
    bottom: 8%;
    right: 0;
    li {
      button {
        &::before {
          opacity: 1;
          color: #bdeeee;
        }
      }
      &.slick-active {
        button {
          &::before {
            color: #124646;
            opacity: 1;
          }
        }
      }
    }
  }

  .slick-list {
    overflow: unset;
  }
}

@include media("<=991px") {
  .home-team {
    article {
      .main-content {
        header {
          h2 {
            font-size: 1.875rem;
          }
          h3 {
            font-size: 1rem;
          }
        }
        p {
          font-size: 0.75rem;
        }
      }
    }
  }
}

@include media("<=phone3x") {
  .home-team {
    padding: 50px 0 80px 0;
    &__header {
      margin-bottom: 90px;
    }

    article {
      .main-content {
        header {
          margin-bottom: 5px;
          h2 {
            font-size: 1.5rem;
          }
          h3 {
            font-size: 0.875rem;
          }
        }
        p {
          font-size: 0.5rem;
          line-height: 145%;
        }
      }
    }

    .slick-next,
    .slick-prev {
      display: none !important;
    }
  }
}

@include media("<=phone2x") {
  .home-team {
    header {
      margin-bottom: 70px;
      h3 {
        font-weight: bold;
        font-size: 1.5rem;
      }
    }

    article {
      .main-content {
        header {
          h2 {
            font-size: 2.5rem;
          }
          h3 {
            font-size: 1.5rem;
          }
        }
        p {
          font-size: 1rem;
          line-height: 150%;
        }
      }
    }

    .slick-slide {
      padding: 0 20px;
    }
  }
}

@include media("<=450px") {
  .home-team {
    article {
      .main-content {
        p {
          font-size: 0.875rem;
        }
      }
    }
  }
}

@include media("<=400px") {
  .home-team {
    article {
      .main-content {
        p {
          font-size: 0.75rem;
        }
      }
    }
  }
}

@include media("<=370px") {
  .home-team {
    article {
      .main-content {
        p {
          font-size: 0.65rem;
        }
      }
    }
  }
}

@include media("<=340px") {
  .home-team {
    article {
      .main-content {
        p {
          font-size: 0.6rem;
        }
      }
    }
  }
}
