@keyframes shakeRight {
  0% {
    transform: translateX(20%);
  }
  60% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-reverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes moveSlideshow {
  from {
    transform: translateX(-70%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes moveSlideshowReverse {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-70%);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shakeUp {
  0% {
    transform: translateY(10%);
  }
  60% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}
:root {
  --animate-duration: 300ms;
  --animate-delay: 300ms;
}

@keyframes growHeight {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

@keyframes moveBottomTop {
  0% {
    top: 0;
    bottom: 100%;
  }
  50% {
    bottom: 0;
    top: 0;
  }
  100% {
    bottom: 0;
    top: 100%;
  }
}

@keyframes growBorderBottom {
  from {
    bottom: 100%;
  }
  to {
    bottom: 6%;
  }
}
@keyframes growBorderRight {
  from {
    right: 100%;
  }
  to {
    right: 6%;
  }
}
@keyframes bounceDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-3%);
  }
}
@keyframes bounceDown2 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20%);
  }
}

@keyframes bounceWithRotate {
  from {
    transform: rotate(90deg) translateX(0);
  }
  to {
    transform: rotate(90deg) translateX(10%);
  }
}

.delay-1 {
  animation-delay: 400ms;
}
.delay-2 {
  animation-delay: 600ms;
}
.delay-3 {
  animation-delay: 800ms;
}
.delay-4 {
  animation-delay: 1s;
}
.time-1 {
  animation-duration: 400ms;
}
.time-2 {
  animation-duration: 500ms;
}
.time-3 {
  animation-duration: 700ms;
}
.time-4 {
  animation-duration: 800ms;
}
.time-5 {
  animation-duration: 1200ms;
}
.time-6 {
  animation-duration: 1500ms;
}

@keyframes swoosh-in {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -50, 0, 0, 1);
  }
  5.41% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -28.335, 0, 0, 1);
  }
  10.71% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -15.157, 0, 0, 1);
  }
  16.12% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -7.354, 0, 0, 1);
  }
  21.42% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -3.192, 0, 0, 1);
  }
  32.13% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.118, 0, 0, 1);
  }
  42.84% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.312, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

@keyframes dropdown {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -50, 0, 1);
  }
  6.31% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -30.81, 0, 1);
  }
  12.51% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -18.947, 0, 1);
  }
  18.82% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -11.444, 0, 1);
  }
  25.03% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -6.895, 0, 1);
  }
  37.54% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -2.397, 0, 1);
  }
  50.05% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.787, 0, 1);
  }
  75.08% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.063, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
