// App level styles

a,
button {
  cursor: pointer;
}

* {
  outline: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
  margin: 0;
}

address {
  margin: 0;
}

ul,
li,
ol,
dd,
dl {
  margin-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  list-style-type: none;
  padding-inline-start: 0;
}

.flex-ac-jc {
  display: flex;
  justify-content: center;
  align-content: center;
}

.flex-ac-jb {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.flex-ac {
  display: flex;
  align-content: center;
}

.btn-main {
  background: #ffdf6d;
  font-weight: bold;
  font-size: 1rem;
  color: #5b4700;
  width: 207px;
  height: 48px;
  border: none;
}
@media (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
