html,
body {
  font-family: "EffraCorp", sans-serif;
  font-size: 1rem;
  color: $black;
}

@font-face {
  font-family: "Mermaid";
  src: local("Mermaid"), url("../fonts/Mermaid1001.ttf") format("truetype");
}

@font-face {
  font-family: "EffraCorp-Bold";
  src: local("EffraCorp-Bold"),
    url("../fonts/EffraCorp-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "EffraCorp-BoldItalic";
  src: local("EffraCorp-BoldItalic"),
    url("../fonts/EffraCorp-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "EffraCorp-Italic";
  src: local("EffraCorp-Italic"),
    url("../fonts/EffraCorp-Italic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "EffraCorp";
  src: local("EffraCorp-Regular"),
    url("../fonts/EffraCorp-Regular.ttf") format("truetype");
}

h1,
h2,
h3,
h4 {
  font-family: "Mermaid", sans-serif;
  font-weight: 800;
  margin: 0;
}

p,
li,
span {
  margin: 0;
  font-weight: normal;
  letter-spacing: 0.04rem;
}

@include media(">tablet2x", "<=desktop2x") {
  h1 {
    font-size: 4.313rem;
    font-weight: 800;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 2.375rem;
  }
  h5 {
    font-size: 1.125rem;
  }
  p {
    font-size: 1rem;
  }
}

@include media("<=tablet2x") {
  h1 {
    font-size: 3.75rem;
    font-weight: 800;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.875rem;
  }
  h4 {
    font-size: 1.875rem;
  }
  h5 {
    font-size: 1.125rem;
  }
}

@include media("<=phone2x") {
  h1 {
    font-size: 2.75rem;
    font-weight: 800;
  }
  h2 {
    font-size: 2.125rem;
  }
  h3 {
    font-size: 1.875rem;
  }
  h4 {
    font-size: 1.875rem;
  }
  h5 {
    font-size: 1.125rem;
  }
}
