html,
body {
  font-family: "Sen", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: $black;
}

h1,
h2,
h3,
h4 {
  font-family: "Sen", sans-serif;
  font-weight: 800;
  line-height: 120%;
}
h1 {
  font-size: 5.5rem;
  letter-spacing: 0.04rem;
}
h2 {
  font-size: 3.75rem;
  letter-spacing: 0.02rem;
}
h3 {
  font-size: 2.625rem;
  letter-spacing: 0.02rem;
}
h4 {
  font-size: 2.625rem;
  letter-spacing: 0.02rem;
}
h5 {
  font-size: 1.25rem;
  font-weight: 800;
  letter-spacing: 0.02rem;
}

p,
li,
span {
  margin: 0;
  font-size: 1.125rem;
  line-height: 150%;
  font-weight: normal;
  letter-spacing: 0.04rem;
}

@include media(">tablet2x", "<=desktop2x") {
  h1 {
    font-size: 4.313rem;
    font-weight: 800;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 2.375rem;
  }
  h5 {
    font-size: 1.125rem;
  }
  p {
    font-size: 1rem;
  }
}

@include media("<=tablet2x") {
  h1 {
    font-size: 3.75rem;
    font-weight: 800;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.875rem;
  }
  h4 {
    font-size: 1.875rem;
  }
  h5 {
    font-size: 1.125rem;
  }
}

@include media("<=phone2x") {
  h1 {
    font-size: 2.75rem;
    font-weight: 800;
  }
  h2 {
    font-size: 2.125rem;
  }
  h3 {
    font-size: 1.875rem;
  }
  h4 {
    font-size: 1.875rem;
  }
  h5 {
    font-size: 1.125rem;
  }
}
