/* SASS Variables */
$black: #000;
$dark: #0a0a0a;
$white: #fff;
$grey-3: #83848d;
$dark-primary-2: #124646;
$dark-secondary-1: #5b4700;
$dark-secondary-2: #806f36;
$secondary: #ffdf6d;
$light-primary: #efffff;

//Responsive Variables
$breakpoints: (
  phone: 320px,
  phone2x: 480px,
  phone3x: 768px,
  tablet: 912px,
  tablet2x: 1024px,
  desktop: 1200px,
  desktop2x: 1440px,
  desktop3x: 1680px,
);
